html * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 1vw;
    overflow-x: hidden;
    overflow-y: scroll;
}
#root{
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
    background-color: rgba(209, 203, 153, 0.863);
}
header{
    background-color: rgb(0, 151, 81);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 4rem;
}
header h1{
    padding-left: 1rem;
    font-size: 3rem;
}
nav{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 1.5rem;
    padding: 0.5rem 0;
}
.active{
    color: gold;
}
main{
    flex-grow: 1;
    padding-top: 2rem;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    background-color: rgba(245, 245, 245, 0.609);
}
footer{
    background-color: rgb(0, 151, 81);
    color: white;
    text-align: center;
    font-size: 1.2rem;
}
main h2, main h3, main h4{
    margin-bottom: 2rem;
}
main h4, #balancesContainer{
    align-self: flex-start;
    padding-left: 4rem;
}
#balancesContainer p{
    margin-bottom: 1rem;
}
#mainForm div{
    width: 40%;
    background-color: rgba(245, 245, 245, 0.63);
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
    font-size: 1.5rem;
}
#mainForm div input{
    width: 60%;
    text-align: center;
    font-size: 1.5rem;
}
button{
    font-size: 1.5rem;
    background-color: rgb(0, 151, 81);
    color:white;
    padding: 0.5rem;
}
.formError{
    color: red;
    font-size: 1rem;
    padding: 1rem;
}
.isProfit{
    color: rgb(0, 151, 81);
}
.isLoss{
    color: red;
}
#mainMovements div#balancesContainer{
    overflow-y: auto;
    height: 50vh;
    width: 100%;
}
.movementContainer p {
    cursor: pointer;
}
.movementContainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.editDeleteButtons{
    padding: 0 1rem;
    cursor: pointer;
}
@media screen and (max-width: 1680px){
    html{
        font-size: 2vw;
    }
}
@media screen and (max-width: 1336px){
    html{
        font-size: 2vw;
    }
    header{
        padding: 0;
    }
    nav{
        width: 100%;
    }
    nav a{
        font-size: 1.5rem;
        padding: 0 1rem;
    }
    main{
        width: 100%;
    }
    #mainForm div{
        width: 90%;
    }
}
@media screen and (max-width: 1024px){
    html{
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 800px){
    html{
        font-size: 2.3vw;
    }
}
@media screen and (max-width: 700px){
    html{
        font-size: 2.4vw;
    }
}
@media screen and (max-width: 600px){
    html{
        font-size: 2.5vw;
    }
    .movementContainer p {
        font-size: 1.2rem;
    }
    .movementContainer div input {
        font-size: 1.5rem;
        width: 100%;
    }
    .movementContainer div {
        width: 25%;
    }
    .editDeleteButtons{
        padding: 0 0.5rem;
        cursor: pointer;
    }
    h4{
        font-size: 1.4rem;
    }
    h3{
        font-size: 1.4rem;
    }
    #balancesContainer{
        font-size: 1.2rem;
    }
}
@media screen and (max-width: 500px){
    html{
        font-size: 2.6vw;
    }
}
@media screen and (max-width: 400px){
    html{
        font-size: 2.7vw;
    }
}
@media screen and (max-width: 300px){
    html{
        font-size: 2.8vw;
    }
}